*{
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

img.x {
	width: 100%;
	height: auto;
}

img.y {
	width: auto;
	height: 100%;
}

.clip {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px solid #f00;
}

.qiu {
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background:#f00;
	position: absolute;
}